.box1{
  width: 300px;
  height: 300px;
  /*演習問題３章：box1の色を赤→好きな色に変更する*/
  background-color: #FF8C00	;
  margin: 30px;
  padding: 30px;

}

.box2{
  width: 100px;
  height: 100px;
  background-color: blue;
  /*指定方法（box2の周囲すべてに枠線を設定する場合*/
  border:5px solid yellow;


}
